/* styles.css */
*{
    margin: 0;
    padding: 0;
}
.content{
   
    font-family: Arial, sans-serif;
}
#mas{
    text-shadow: 10px 10px 5px rgb(177, 188, 199);
    background-color: black;
    text-align: center;
    color: rgb(145, 241, 19);
    padding: 20px;
}


.menu {
    background: #444;
    width: 200px;
}

.menu ul {
    background: #444;
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 20px;
    border-bottom: 1px solid #444;
}

.menu button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
border-radius: 15px solid ;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.menu button:hover {
    background-color: #444;
}

.content {
    margin-left: 220px;
    padding: 20px;

}


  